{% extends 'base.html.twig' %}

{% block title %}acceuil{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron text-center m-auto">

       <div class="container">
           {{ form_start(formSearch) }}
           <div class="form-row align-items-end">
               <div class="col">
                   {{ form_row(formSearch.moduleSearched) }}
               </div>
               <div class="col">
                   {{ form_row(formSearch.semestreSearched) }}
               </div>
               <div class="col">
                   {{ form_row(formSearch.filieresSearched) }}
               </div>
               <div class="form-group">
                   <button class="btn btn-primary">Rechercher</button>
               </div>

           </div>

           {{ form_end(formSearch) }}
       </div>
    </div>
    <section class="departements departements-home text-center">
    <div class="container">
        <div class="big-title">
        <h2> les departements </h2>
         <div class="hr-title"></div>
        </div>
        <div class="row">

            {% for departement in departements %}
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="{{ path('departement',{id:departement.id,slug:departement.slug})}}" >
                        <div class="departement-box">
                        <div class="departement-cover" style=" background:url('{{ vich_uploader_asset(departement,'imagefile') }}') no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                            <div class="departement-overlay">
                                <div class="thumb-content">
                                    <div class="departement-icon"> <i class="las la-home"></i></div>
                                  <div class="departement-name">{{ departement.NomDep }} </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </a>
                </div>


            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}
